<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day of 4 Vue.js</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="isLoading">Loading</p>
        <h2>Shopping Cart</h2>
        <p v-if="!cart.length && !isLoading">No item in cart.</p>
        <div class="card">
            <div class="item" v-for="item in cart">
                <div class="image">
                    <a v-bind:href="item.url">
                        <img v-bind:src="item.image" />
                    </a>
                </div>
                <div class="info">
                    <h4>{{item.name}}</h4>
                    <p class="seller">by {{item.seller}}</p>
                    <p class="status available" v-if="item.isAvailable">In Stock</p>
                    <p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
                    <a href="#" v-on:click="removeFromCart(index)">Delete</a>
                    <a href="#" class="secondary" v-on:click="saveForLater(index)">Save for later</a>
                </div>
                <p class="price">{{item.price}}</p>
            </div>
            <div class="subtotal">
                Subtotal ({{cart.length}} items) : <span class="price">${{cartTotal}}</span>
            </div>
        </div>

        <h2 class="saved-header">Saved for later ({{saved.length}} item)</h2>
        <div class="cart">
            <p v-if="!saved.length && !isLoading">No item in saved.</p>
            <div class="item" v-for="(item, index) in saved">
                <div class="image">
                    <a v-bind:href="item.url">
                        <img v-bind:src="item.image" />
                    </a>
                </div>
                <div class="info">
                    <h4>{{item.name}}</h4>
                    <p class="seller">by {{item.seller}}</p>
                    <p class="status available" v-if="item.isAvailable">In Stock</p>
                    <p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
                    <a href="#" v-on:click="removeFromSavedList(index)">Delete</a>
                    <a href="#" class="secondary" v-on:click="moveToCart(index)">Move to cart</a>
                </div>
            </div>
        </div>

    </div>

    <script src="app.js">
    </script>
</body>

</html>