<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day of 4 Vue.js</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="isLoading">Loading</p>
        <p v-if="!cart.length && !isLoading">No item in cart.</p>

        <vue-cart v-bind:cart=cart title="Shopping Cart"></vue-cart>
        <vue-cart v-bind:cart=saved title="Saved for late"></vue-cart>

    </div>

    <script src="app.js">
    </script>
</body>

</html>