<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day of 2 Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}


        <div v-if="isActive">{{message}}</div>

        <div v-show="isShow">{{showMessage}}</div>

        <div v-html="htmlContent"></div>
        <div v-text="textContent"></div>
    </div>
    <script src="app.js">
    </script>
</body>

</html>